[Desktop Entry]
Version=1.0
Name=Udisks Indicator
Comment=Indicator for reporting filesystem information
Exec=/usr/lib/python3/dist-packages/udisks_indicator/udisks_indicator.py
Type=Application
Icon=drive-harddisk-symbolic.svg
Terminal=false
