Source: udisks-indicator
Maintainer: Sergiy Kolodyazhnyy <1047481448@qq.com>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7)
Standards-Version: 3.9.1





Package: python3-udisks-indicator
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Indicator for viewing information about mounted filesystems


